# Jupyter notebook sample

In [3]:
import duckdb
import pandas as pd

# %load_ext sql
# %config SqlMagic.autopandas = True
# %config SqlMagic.feedback = False
# %config SqlMagic.displaycon = False
#
# %sql duckdb://

In [2]:
import sys
print(sys.executable)

/Users/sofiascaiano/Documents/maestria/Data Mining EyF/churn/venv/bin/python

In [4]:
df = pd.read_csv("/Users/sofiascaiano/Documents/maestria/Data Mining EyF/DMEYF/project/project_wednesday/data/competencia_01.csv")

In [5]:
df['foto_mes'].value_counts()

foto_mes
2021-04-30    163418
2021-03-31    163109
2021-02-28    162155
2021-01-31    161527
Name: count, dtype: int64

In [3]:
%%sql
--create or replace table base as
select
    * REPLACE(last_day(make_date(
    CAST(SUBSTR(CAST(foto_mes AS VARCHAR), 1, 4) AS INTEGER),
    CAST(SUBSTR(CAST(foto_mes AS VARCHAR), 5, 2) AS INTEGER),
    1
  )) as foto_mes)
from read_csv_auto("/Users/sofiascaiano/Documents/maestria/Data Mining EyF/DMEYF/project/project_wednesday/data/competencia_01_crudo.csv")

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_madelantodolares,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo
0,249221323,2021-01-31,1,0,0,46,93,3070.24,15691.10,1278.11,...,0.0,4,0.00,-20833.47,0.0,2814,6743.38,6,0,9559.95
1,249227600,2021-01-31,1,0,0,42,278,496.21,15321.80,418.97,...,0.0,11,13267.49,-9662.51,0.0,5541,9419.90,8,0,1900.26
2,249234235,2021-01-31,1,0,0,54,17,806.56,10549.80,174.26,...,0.0,4,0.00,-4692.00,0.0,577,2821.32,2,0,6885.51
3,249244449,2021-01-31,1,0,0,61,290,27485.71,65621.74,23590.68,...,0.0,25,23800.17,-20349.22,0.0,7916,23509.71,8,0,1219.92
4,249244739,2021-01-31,1,0,0,66,320,3306.82,48787.99,3274.95,...,0.0,4,0.00,-88178.37,0.0,1958,20397.54,8,0,2627.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978434,1598368433,2021-06-30,1,0,0,58,1,4123.09,4123.09,2242.51,...,0.0,7,0.00,0.00,0.0,28,12521.76,2,0,1747.77
978435,1598419415,2021-06-30,1,0,0,30,1,-2.26,-2.26,0.00,...,NaN,7,0.00,NaN,NaN,9,NaN,<NA>,<NA>,0.00
978436,1598425905,2021-06-30,1,0,0,28,1,5.92,5.92,0.00,...,NaN,0,0.00,NaN,NaN,20,NaN,<NA>,<NA>,0.00
978437,1598470389,2021-06-30,1,0,0,78,1,244.96,244.96,0.00,...,NaN,7,0.00,NaN,NaN,15,NaN,<NA>,<NA>,0.00
978438,1598550167,2021-06-30,0,0,0,59,1,0.00,0.00,0.00,...,NaN,<NA>,0.00,NaN,NaN,3,NaN,<NA>,<NA>,0.00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 978439 entries, 0 to 978438
Columns: 154 entries, numero_de_cliente to Visa_mpagominimo
dtypes: Int64(17), datetime64[us](1), float64(72), int64(64)
memory usage: 1.1 GB

In [6]:
%%sql
-- version original
-- select t0.numero_de_cliente, 
--        t0.foto_mes, 
select t0.*,
       case when t1.foto_mes is null then 'BAJA+1' when t2.foto_mes is null then 'BAJA+2' else 'CONTINUA' end as target
from df as t0
left join df as t1
on t0.numero_de_cliente = t1.numero_de_cliente
and last_day(date_add(t0.foto_mes, INTERVAL 1 MONTH)) = t1.foto_mes
left join df as t2
on t0.numero_de_cliente = t2.numero_de_cliente
and last_day(date_add(t0.foto_mes, INTERVAL 2 MONTH)) = t2.foto_mes
where t0.foto_mes <= '2021-04-30'

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,target
0,441950050,2021-04-30,1,0,0,51,165,-1253.90,6292.94,1712.33,...,2,0.0,-67187.66,0.00,4993,31505.19,12,0,7765.26,CONTINUA
1,441952680,2021-04-30,1,0,0,48,203,639.32,26648.97,111.84,...,9,0.0,NaN,NaN,6172,NaN,<NA>,<NA>,0.00,CONTINUA
2,441960340,2021-04-30,1,0,0,47,148,-280.04,11020.18,1156.36,...,2,0.0,-34506.63,0.00,4483,22867.50,9,0,3941.28,CONTINUA
3,441961869,2021-04-30,1,0,0,59,253,3628.99,39850.00,163.79,...,9,0.0,-42090.57,0.00,7248,3414.01,4,0,45383.37,CONTINUA
4,441962962,2021-04-30,1,0,0,41,254,-489.42,-903.39,600.14,...,2,0.0,-26940.58,0.00,5899,14027.37,13,0,1466.25,CONTINUA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
650204,1209501789,2021-02-28,0,0,0,40,53,1592.13,17487.41,1225.04,...,-3,0.0,NaN,NaN,1587,NaN,<NA>,<NA>,0.00,BAJA+2
650205,1209621533,2021-02-28,1,0,0,34,52,172.45,-21731.24,2613.96,...,-3,0.0,-32502.37,0.00,1456,3395.49,3,0,6580.53,BAJA+2
650206,1209764036,2021-02-28,1,0,0,37,53,1828.76,18549.02,-125.01,...,-3,0.0,-5281.80,9.51,1585,3737.91,4,0,1196.46,BAJA+2
650207,1212217228,2021-02-28,1,0,0,27,53,10.35,22406.25,2.09,...,4,0.0,NaN,NaN,1572,NaN,<NA>,<NA>,0.00,BAJA+2
650208,1212295256,2021-02-28,1,0,0,41,53,1239.63,6903.93,1225.04,...,4,0.0,NaN,NaN,1594,NaN,<NA>,<NA>,0.00,BAJA+2

In [24]:
# df_target.groupby("foto_mes")['target'].value_counts()

foto_mes    target
2021-01-31  CONTINUA    160080
            BAJA+2         825
            BAJA+1         622
2021-02-28  CONTINUA    160292
            BAJA+2        1032
            BAJA+1         831
2021-03-31  CONTINUA    161119
            BAJA+1        1039
            BAJA+2         951
2021-04-30  CONTINUA    161333
            BAJA+2        1130
            BAJA+1         955
Name: count, dtype: int64

In [25]:
%%sql
-- version sin considerar como baja a aquellos clientes que luego vuelven a aparecer con antiguedad
with cte as (
select t0.numero_de_cliente, 
       t0.foto_mes, 
       max(t1.foto_mes) max_mes_total,
       min(t1.cliente_antiguedad) as min_antiguedad,
       max(t2.foto_mes) as max_mes
from df as t0
left join df as t1
on t0.numero_de_cliente = t1.numero_de_cliente
and t0.foto_mes < t1.foto_mes
left join df as t2
on t0.numero_de_cliente = t2.numero_de_cliente
and t2.foto_mes > t0.foto_mes
and t2.foto_mes <= last_day(date_add(t0.foto_mes, INTERVAL 2 MONTH))
group by all
)

select numero_de_cliente, 
       foto_mes, 
       min_antiguedad,
       case when max_mes_total is null then 'BAJA+1' 
            when max_mes_total = last_day(date_add(foto_mes, INTERVAL 1 MONTH)) then 'BAJA+2' 
            else 'CONTINUA' 
       end as target,
       max_mes
from cte
where foto_mes < (select max(foto_mes) - INTERVAL 1 MONTH from cte)

        numero_de_cliente   foto_mes  min_antiguedad    target    max_mes
0               556999279 2021-01-31              89  CONTINUA 2021-03-31
1               558453084 2021-01-31              39  CONTINUA 2021-03-31
2               560554986 2021-01-31              34  CONTINUA 2021-03-31
3               550273948 2021-01-31             217  CONTINUA 2021-03-31
4               550297356 2021-01-31             127  CONTINUA 2021-03-31
...                   ...        ...             ...       ...        ...
650204          670796345 2021-01-31            <NA>    BAJA+1        NaT
650205          277977486 2021-03-31            <NA>    BAJA+1        NaT
650206          453387495 2021-03-31            <NA>    BAJA+1        NaT
650207          481060111 2021-03-31            <NA>    BAJA+1        NaT
650208         1353128359 2021-04-30            <NA>    BAJA+1        NaT

[650209 rows x 5 columns]

In [9]:
%%sql
SELECT base.*, df_target.target
FROM df as base
LEFT JOIN df_target
ON base.numero_de_cliente = df_target.numero_de_cliente
AND base.foto_mes = df_target.foto_mes

,numero_de_cliente,foto_mes,active_quarter,cliente_vip,internet,cliente_edad,cliente_antiguedad,mrentabilidad,mrentabilidad_annual,mcomisiones,...,Visa_fultimo_cierre,Visa_mpagado,Visa_mpagospesos,Visa_mpagosdolares,Visa_fechaalta,Visa_mconsumototal,Visa_cconsumos,Visa_cadelantosefectivo,Visa_mpagominimo,target
0,1213852109,2021-02-28,1,0,0,27,52,6316.48,80211.48,1749.61,...,-3,0.0,-26199.76,0.0,1279,3572.88,3,0,2334.27,CONTINUA
1,1213858300,2021-02-28,1,0,0,24,52,3037.56,12942.35,353.41,...,-3,0.0,-12375.90,0.0,669,629.76,1,0,1935.45,CONTINUA
2,1213872818,2021-02-28,1,0,1,30,52,-1231.97,-17273.69,227.63,...,<NA>,NaN,NaN,NaN,<NA>,NaN,<NA>,<NA>,NaN,CONTINUA
3,1213876242,2021-02-28,1,0,0,42,52,613.73,7746.52,848.21,...,-3,0.0,-17144.19,0.0,1573,1843.14,2,0,2322.54,CONTINUA
4,1213881716,2021-02-28,0,0,1,45,52,1222.82,993.66,1225.04,...,<NA>,NaN,NaN,NaN,<NA>,NaN,<NA>,<NA>,NaN,CONTINUA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
978434,897354921,2021-06-30,1,0,0,36,130,750.32,6346.18,251.22,...,0,0.0,-816.53,0.0,2127,0.00,0,0,340.17,None
978435,897355425,2021-06-30,1,0,0,38,8,39.81,27872.15,16.48,...,0,0.0,-1428.98,0.0,238,1774.25,2,0,82.11,None
978436,897359951,2021-06-30,1,0,0,33,121,-353.70,-23637.59,2831.43,...,0,0.0,-200879.60,0.0,2366,89888.09,23,0,18861.84,None
978437,897380447,2021-06-30,1,0,0,33,128,2705.53,3760.81,3176.31,...,7,22521.6,-24633.00,0.0,3956,19403.37,8,0,1149.54,None
978438,897389636,2021-06-30,1,0,0,42,71,10402.92,120432.32,924.84,...,7,0.0,-69925.63,0.0,2128,54297.38,9,0,6709.56,None

In [28]:
len(df_merge)

978439

In [10]:
df_merge['target'].value_counts(dropna=False)

target
CONTINUA    642824
None        328230
BAJA+2        3938
BAJA+1        3447
Name: count, dtype: int64

In [31]:
df_merge[df_merge['target'].isna()]['foto_mes'].unique()

<DatetimeArray>
['2021-05-31 00:00:00', '2021-06-30 00:00:00']
Length: 2, dtype: datetime64[us]

In [35]:
df_merge.to_csv("/Users/sofiascaiano/Documents/maestria/Data Mining EyF/datasets/competencia_01_target.csv", index=False)

In [7]:
df_merge.head()

NameError: name 'df_merge' is not defined